body{
    background-color: #E5E7EB;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}

/* Modal Content */
.modal-content {
    background-color: #EFF6FF;
    margin: auto;
    padding: 20px;
    width: 50%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* The Close Button */
.close {
color: #9CA3AF;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: #111827;
text-decoration: none;
cursor: pointer;
}

.d3-funnel-tooltip {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}