<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/style.css" rel="stylesheet">
    <title>Flask project</title>
</head>
<body>
    <div id="content">
        <div id="container">
        </div>
        <div id="radios">
        </div> 
    </div>


    <!-- The Modal -->
    <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
    </div>

    </div>

    <script src="https://d3js.org/d3.v6.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="../static/d3-funnel/dist/d3-funnel.js"></script>
    <script type="text/javascript">
        var data = JSON.parse('{{data|tojson}}');
    </script>	
    <script type="text/javascript" src="../static/app.js"></script>
</body>
</html>